<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.BikerMice">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"




       >

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1561986082608677~5789560956"/>


        <activity
            android:name="com.example.BikerMice.InformacionConductorActivity"
            android:exported="true" />

        <activity
            android:name="com.example.BikerMice.MapsActivity"
            android:exported="true" />

        <activity
            android:name="com.example.BikerMice.ResultadoBusquedaActivity"
            android:exported="true" />
        <activity
            android:name="com.example.BikerMice.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.BikerMice.MainActivity"
            android:exported="true" />
        <activity android:name="com.example.BikerMice.SeleccionRegistroActivity" />
        <activity android:name="com.example.BikerMice.RegistroPasajerosActivity" />
        <activity android:name="com.example.BikerMice.RegistroConductorActivity" />
        <activity android:name="com.example.BikerMice.PerfilConductorActivity" />
        <activity android:name="com.example.BikerMice.PerfilPasajeroActivity" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/> <!-- optional (needed if default theme has no action bar) -->





    </application>

</manifest>